:root {
    --primary-color: black;
    --background-color: white;
}

[data-theme="dark"] {
    --primary-color: white;
    --background-color: #1A1825;
    --secondary-color: #251F33;
    --border-color: gray;
}