* {
    margin: 0;
}

:root {
    --primary-color: black;
    --background-color: #F4F2F7;
    --secondary-color: #FAF9FB;
    --border-color: #CBC2D9;
    --secondary-light-color: #E4E0EB;
    --emphasis-color-rgb: 250, 29, 78;
    --emphasis-color: rgb(var(--emphasis-color-rgb));

}

[data-theme="dark"] {
    --primary-color: white;
    --background-color: #121019;
    --secondary-color: #251F33;
    --secondary-light-color: #3A3350;
    --button-color: #2D283E;

}